<div class="wrapper">
  <div class="left">
    <h3>WEBNOVEL</h3>
    <div class="sns">
      <img src="../../../../assets/icons/instagram.svg" />
      <img src="../../../../assets/icons/tiktok.svg" />
      <img src="../../../../assets/icons/twitter.svg" />
      <img src="../../../../assets/icons/facebook.svg" />
      <img src="../../../../assets/icons/youtube.svg" />
    </div>
    <div class="copy-right">© 2024 WebNovel</div>
  </div>
  <div class="right">
    <div class="col">
      <span class="title">TEAMS</span>
      <a class="subtext">About</a>
      <a class="subtext">Newsroom</a>
      <a class="subtext">Brand Guideline</a>
    </div>
    <div class="col">
      <span class="title">CONTACTS</span>
      <a class="subtext">Translators & Editors</a>
      <a class="subtext">Commercial</a>
      <a class="subtext">Audio business</a>
      <a class="subtext">Help & Service</a>
      <a class="subtext">DMCA Notification</a>
      <a class="subtext">Webnovel Forum</a>
      <a class="subtext">Online service</a>
      <a class="subtext">Vulnerability Report</a>
    </div>
    <div class="col">
      <span class="title">RESOURCES</span>
      <a class="subtext">Tags</a>
      <a class="subtext">Download Apps</a>
      <a class="subtext">Be an Author</a>
      <a class="subtext">Help Center</a>
      <a class="subtext">Privacy Policy</a>
      <a class="subtext">Terms of Service</a>
      <a class="subtext">Keywords</a>
      <a class="subtext">Affiliate</a>
    </div>
    <div class="col">
      <span class="title">REFERALS</span>
      <a class="subtext">QiDian</a>
      <a class="subtext">Yuewen</a>
    </div>
  </div>
</div>
