@import "../../../../../assets/styles/variables.scss";

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  border-bottom: 1px solid $gray-02;
  .part {
    display: flex;
    list-style: none;
    gap: 20px;
    .item {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      cursor: pointer;
      span {
        font-size: 20px;
        font-weight: bold;
        color: $gray-01;
      }
      &:hover {
        img {
          filter: invert(36%) sepia(62%) saturate(5649%) hue-rotate(222deg)
            brightness(103%) contrast(92%);
        }
        span {
          color: $blue-01;
        }
      }
      &.search {
        width: 50px;
        height: 50px;
        border: 1px solid $gray-02;
        border-radius: 100rem;
      }
      &::after {
        content: "";
        position: absolute;
        height: 10px;
        width: 100%;
        top: 100%;
        left: 0;
      }
      .dropdown {
        visibility: hidden;
        position: absolute;
        top: calc(100% + 10px);
        left: 0;
        z-index: 3;
        background-color: $black-02;
        border-radius: 8px;
        &::before {
          content: "";
          position: absolute;
          bottom: 100%;
          left: 35px;
          width: 0;
          height: 0;
          border-left: 7px solid transparent;
          border-right: 7px solid transparent;
          border-bottom: 7px solid black;
        }
        .dropdown-wrapper {
          list-style: none;
          display: flex;
          flex-direction: column;
          .dropdown-item {
            color: $white-01;
            padding: 7px 10px;
            transition: all 0.1s linear;
            &:first-child {
              border-top-left-radius: 8px;
              border-top-right-radius: 8px;
            }
            &:last-child {
              border-bottom-left-radius: 8px;
              border-bottom-right-radius: 8px;
            }
            &:hover {
              background-color: $blue-01;
            }
          }
        }
      }
      &:hover {
        .dropdown {
          visibility: visible;
        }
      }
    }
  }
}
