<header class="wrapper">
  <ul class="part">
    <li class="item">
      <img src="../../../../assets/icons/browse.svg" />
      <span>Browse</span>
    </li>
    <li class="item">
      <img src="../../../../assets/icons/ranking.svg" />
      <span>Rankings</span>
    </li>
    <li class="item">
      <img src="../../../../assets/icons/create.svg" />
      <span>Create</span>
    </li>
    <li class="item">
      <img src="../../../../assets/icons/contest.svg" />
      <span>Constest</span>
    </li>
  </ul>
  <ul class="part">
    <li class="item search">
      <img src="../../../../assets/icons/search.svg" />
    </li>
    <li class="item">
      <span>Library</span>
    </li>
    <li class="item">
      <span>Forum</span>
    </li>
    <li class="item">
      <img src="../../../../assets/icons/preference.svg" />
    </li>
    <app-button (clicked)="openLoginDialog()" [label]="'SIGN IN'"></app-button>
  </ul>
</header>
