<div class="wrapper">
  <p class="welcome">Welcome to Webnovel</p>
  <p class="subtext">Access tons of novels and comics by a single tap</p>
  <div class="login-btns">
    <div (click)="loginGoogleHandler()" class="btn google">
      <img src="../../../../assets/icons/google.svg" />
      <span>LOG IN WITH GOOGLE</span>
    </div>
    <div class="btn facebook">
      <img src="../../../../assets/icons/facebook-circle.svg" />
      <span>LOG IN WITH FACEBOOK</span>
    </div>
    <div class="btn apple">
      <img src="../../../../assets/icons/apple.svg" />
      <span>LOG IN WITH APPLE</span>
    </div>
  </div>
  <div class="register">
    <span>DON'T HAVE AN ACCOUNT?</span>
    <a>CREATE ACCOUNT</a>
    <div class="copy-right">
      <span>© 2024 Webnovel</span>
      <span>|</span>
      <a>Terms of Service</a>
      <span>|</span>
      <a>Privacy Policy</a>
    </div>
  </div>
</div>
