@import "../../../../../assets/styles/variables.scss";

.wrapper {
  .book-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;
    .book {
      width: 13%;
      overflow: hidden;
      cursor: pointer;
      min-width: 100px;
      .book-image {
        width: 100%;
        overflow: hidden;
        border-radius: 8px;
        aspect-ratio: 3 / 4;
        img {
          border-radius: 8px;
          width: 100%;
          height: 100%;
          transition: all 0.2s linear;
        }
      }
      h3 {
        color: $black-01;
        font-weight: 600;
        font-size: 18px;
        margin: 5px 0;
        line-height: 20px;
      }
      span {
        color: $gray-01;
        font-size: 16px;
      }
      &:hover {
        .book-image {
          img {
            transform: scale(1.1);
          }
        }
      }
      &.isSelected {
        .book-image {
          border: 3px solid $blue-01;
          img {
            border-radius: 4px;
          }
        }
      }
    }
    &.isOneLine {
      flex-wrap: nowrap;
      .book {
        width: unset;
        flex: 1;
        min-width: unset;
      }
    }
  }
  .selected-book {
    margin-top: 20px;
    display: flex;
    gap: 30px;
    .left {
      img {
        height: 300px;
        aspect-ratio: 3 / 4;
        border-radius: 8px;
      }
    }
    .right {
      display: flex;
      flex-direction: column;
      gap: 15px;
      a {
        color: $black-01;
        font-size: 20px;
        font-weight: 500;
        margin: 0;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        white-space: pre-wrap;
        cursor: pointer;
      }
      span {
        color: $gray-01;
      }
      .btns {
        display: flex;
        align-items: center;
        gap: 10px;
        .add-btn {
          width: 40px;
          height: 40px;
          border: 1px solid $blue-01;
          border-radius: 100rem;
          display: grid;
          place-items: center;
          cursor: pointer;
        }
      }
    }
  }
}
