@import "../../../../assets/styles/variables.scss";

.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 20px 100px;
  border-bottom: 1px solid $gray-01;
  .part {
    display: flex;
    list-style: none;
    gap: 20px;
    .item {
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;
    }
  }
}
